@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
.profile-img:hover .dropdown {
  display: block;
}
.nav-dark {
  background-color: #141414;
}
